.centered {
	text-align: center;
}

.imglabel {
	position: relative;
	top: 185px;
	font-size: 100px;
	font-weight: 900;
	color: orange;
}

h1
{
	text-align: center;
}
h2{
	text-align:center;
}


#math_subject
{
	position: relative;
    color: orange;
}

#physics
{
	position: relative;
    color: orange;
}

#biology{
	position: relative;
    color: orange;
}