body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navigation {
  overflow: hidden;
/*  background-color: #fff;*/
  border-style: solid;
  border-width: 0.1px;
  background-color: grey;
  border-right: 0px;
  border-left: 0px;
  margin-bottom: 3px;
  border-color: grey;
  position: fixed;
  width: 100%;
  
}

.navigation_text a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;

}

.navigation_text a:hover {
  /*background-color: #808080;*/
  border-width: 0px;
  border-bottom: 3px;
  border-style: solid;
  border-color: #4CAF50;
  color: white;
}

.active {
  /*background-color: #4CAF50;*/
  color: red;
}

.navigation .icon {
  display: fixed;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.bg-img{
  background-image: url('./image1.jpg');
  /*min-height: 100%;*/
  height:580px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bg-img2{
  background-image: url('./image2.jpg');
  /*min-height: 100%;*/
  height:580px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.container {
  max-width:980px;
  margin:auto;
  text-shadow: 0px 0px lightgray;
}

.test{
  color: white;
  padding-top: 10px;
  text-shadow: 2px 2px black;
}

.test2{
  padding-top: 150px;
}

.container:after,.container:before{
  content:"";
  display:table;
  clear:both
}

.w3-center{
  text-align:center!important
}



.right{
  float: right;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 3px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}


.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.modal {
    display: fixed; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 5px;
}


.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 80%; 
}


.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}


.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

