<!DOCTYPE html>
<html>
    <head>
        <title>TNM HOME PAGE</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1> TNM </h1>
        <h4>Tutor Next To Me</h4>
        <p><a href="{{url_for('student_login')}}">I'm a tutor</a></p>  
        <!-- the text will be over a picture  -->
        <!-- there  should be a link to the tutor page-->
        <p><a href="{{url_for('student_login')}}">I'm a student</a></p>
        <!-- the text will be over a picture -->
        <!-- there shold be a link to the student page-->



        
</html>
