<!DOCTYPE html>
<html>
    <head>
        <title>subjects page</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <!-- list of subject that tutors can teach -->

        <h2> Hello {{student.name}}</h2>
        <h4>These are the subjects you can get tutoring services in:</h4>
        <div class="container">
        	<!-- this is were we will add a picture with a link to the page -->
        	<img src="math-icon.jpg" alt="math-icon" style="width:50%;">
        	<div class="centered">Math</div>
        </div>
        
    </body>
</html>
